In [18]:
REVIEWS_PATH = '/Users/jakubmalczak/UNI/INŻ/SequentialRecommendation/recbole/data/dataset/Amazon_Sports_and_Outdoors/Sports_and_Outdoors_2023.jsonl'
SAVE_PATH = '/Users/jakubmalczak/UNI/INŻ/SequentialRecommendation/recbole/data/dataset/Amazon_Sports_and_Outdoors/Amazon_Sports_and_Outdoors_2023.inter'

### Reading JSONL file

In [5]:
import pandas as pd
import json

data = []
with open(REVIEWS_PATH, 'r', encoding='utf-8') as f:
    for line in f:
        record = json.loads(line)
        data.append(
            {
                "user_id:token": record.get("user_id"),
                "item_id:token": record.get("parent_asin"),
                "rating:float": record.get("rating"),
                "timestamp:float": record.get("timestamp"),
            }
        )

df = pd.DataFrame(data)
df.head(5)

                  user_id:token item_id:token  rating:float  timestamp:float
0  AFKZENTNBQ7A7V7UXW5JJI6UGRYQ    B0BGFR76CF           5.0    1677321053520
1  AFKZENTNBQ7A7V7UXW5JJI6UGRYQ    B00NXQLFQQ           5.0    1523093771676
2  AGGZ357AO26RQZVRLGU4D4N52DZQ    B0957WLR63           5.0    1653526919105
3  AGGZ357AO26RQZVRLGU4D4N52DZQ    B00IET8S80           5.0    1627330911189
4  AGGZ357AO26RQZVRLGU4D4N52DZQ    B01C2SW7XA           5.0    1617831811976

### Validate data

In [12]:
df.isna().sum()

user_id:token      0
item_id:token      0
rating:float       0
timestamp:float    0
dtype: int64

In [13]:
string_cols = df.select_dtypes(include="object").columns
for col in string_cols:
    print(col, "=> puste stringi:", (df[col] == "").sum())

user_id:token => puste stringi: 0
item_id:token => puste stringi: 0

In [17]:
df[["rating:float", "timestamp:float"]].describe().map(lambda x: f"{x:,.0f}")

      rating:float    timestamp:float
count   19,595,170         19,595,170
mean             4  1,542,144,400,806
std              1     91,428,989,142
min              1    957,208,301,000
25%              4  1,474,241,284,500
50%              5  1,557,174,492,773
75%              5  1,616,176,559,383
max              5  1,694,670,041,162

### Save to .inter file

In [19]:
df.to_csv(SAVE_PATH, sep="\t", index=False)